@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
html {
  scroll-behavior: smooth;
}
/* index.css or custom styles */
body {
  background-color: #111827;
  color: #ffffff; /* Set text color to white for visibility */
  font-family: 'Poppins', sans-serif

}

::selection {
  color: #fff;
  background-color: #ffb43a;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #ffb43a;
  border-radius: 10px;
}
